<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.example.myapplication.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.example.myapplication.permission.C2D_MESSAGE" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/rred"
        android:label="Ma63amiapp"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".Branches"
            android:label="@string/title_activity_branches"
            android:parentActivityName="android.app.ListActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="android.app.ListActivity" />
        </activity>
        <activity
            android:name=".MainMenu"
            android:label="@string/title_activity_main_menu" >
        </activity>
        <activity
            android:name=".Categories"
            android:label="@string/title_activity_categories" >
        </activity>
        <activity
            android:name=".Drinks"
            android:label="@string/title_activity_drinks" >
        </activity>
        <activity
            android:name=".Gallery"
            android:label="@string/title_activity_gallery" >
        </activity>
        <activity
            android:name=".Evaluation"
            android:label="@string/title_activity_evaluation" >
        </activity>
        <activity
            android:name=".Offers"
            android:label="@string/title_activity_offers" >
        </activity>
        <activity
            android:name=".AboutRestaurant"
            android:label="@string/title_activity_about_restaurant" >
        </activity>
        <activity
            android:name=".MyAccount"
            android:label="@string/title_activity_my_account" >
        </activity>
        <activity
            android:name=".Bill"
            android:label="@string/title_activity_bill" >
        </activity>
        <activity
            android:name=".Pay"
            android:label="@string/title_activity_pay" >
        </activity>
        <activity
            android:name=".Order"
            android:label="@string/title_activity_order" >
        </activity>
        <activity
            android:name=".FaceBook"
            android:label="@string/title_activity_face_book" >
        </activity>
        <activity
            android:name=".Options"
            android:label="@string/title_activity_options" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>

        <receiver
            android:name=".MyAlarmReceiver"
            android:process=":remote" >
        </receiver>

        <service
            android:name=".MyTestService"
            android:exported="false" />

        <activity
            android:name=".Waiter"
            android:label="@string/title_activity_waiter" >
        </activity>
        <activity
            android:name=".Cashier"
            android:label="@string/title_activity_cashier" >
        </activity>
        <activity
            android:name=".HeadChef"
            android:label="@string/title_activity_head_chef" >
        </activity>


        <activity
            android:name=".MainLogin"
            android:label="Ma63amiapp" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Registeration"
            android:label="@string/title_activity_registeration" >
        </activity>
        <activity
            android:name=".ConfirmOrder"
            android:label="@string/title_activity_confirm_order" >
        </activity>
        <activity
            android:name=".Registration"
            android:label="@string/title_activity_registration" >
        </activity>
        <activity
            android:name=".Tables"
            android:label="@string/title_activity_tables" >
        </activity>
        <activity
            android:name=".Main"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".EditMenu"
            android:label="@string/title_activity_edit_menu" >
        </activity>
        <activity
            android:name=".edit_BillUI"
            android:label="@string/title_activity_edit__bill_ui" >
        </activity>
        <activity
            android:name=".edit_gallary"
            android:label="@string/title_activity_edit_gallary" >
        </activity>
        <activity
            android:name=".editItem"
            android:label="@string/title_activity_edit_item" >
        </activity>
        <activity
            android:name=".offer"
            android:label="@string/title_activity_offer" >
        </activity>
        <activity
            android:name=".addoffer"
            android:label="@string/title_activity_addoffer" >
        </activity>
        <activity
            android:name=".editoffer"
            android:label="@string/title_activity_editoffer" >
        </activity>
        <activity
            android:name=".Orders"
            android:label="@string/title_activity_orders" >
        </activity>
        <activity
            android:name=".Information"
            android:label="@string/title_activity_information" >
        </activity>
        <activity
            android:name=".EditInfo"
            android:label="@string/title_activity_edit_info" >
        </activity>
        <activity
            android:name=".Feedback"
            android:label="@string/title_activity_feedback" >
        </activity>
        <activity
            android:name=".ItemFeedback"
            android:label="@string/title_activity_item_feedback" >
        </activity>
        <activity
            android:name=".RestaurantFeedback"
            android:label="@string/title_activity_restaurant_feedback" >
        </activity>
        <activity
            android:name=".Payments"
            android:label="@string/title_activity_payments" >
        </activity>
        <activity
            android:name=".Statistics"
            android:label="@string/title_activity_statistics" >
        </activity>
        <activity
            android:name=".CStatistics"
            android:label="@string/title_activity_cstatistics" >
        </activity>
        <activity
            android:name=".SalesStatistics"
            android:label="@string/title_activity_sales_statistics" >
        </activity>
        <activity
            android:name=".additems"
            android:label="@string/title_activity_additems" >
        </activity>
        <activity
            android:name=".createUserType"
            android:label="@string/title_activity_create_user_type" >
        </activity>
        <activity
            android:name=".createUser"
            android:label="@string/title_activity_create_user" >
        </activity>
        <activity
            android:name=".viewOrder"
            android:label="@string/title_activity_view_order" >
        </activity>

    </application>

</manifest>
